<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="CRM Login Test Suite">
	<test verbose="2" name="Login - Success">
		<classes>
			<class name="scripts.LoginCRM" />
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->